footer {
  padding: 2rem;
  background-color: black;
  font-size: var(--body-font-size-s);
  color: var(--background-color);
}

footer a:any-link {
  color: var(--background-color);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}
