.posts > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 16px;
}

.posts > ul > li {
  border: 1px solid var(--highlight-background-color);
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
}

.posts .posts-post-body {
  margin: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1; /* This makes the div take up the remaining space */
}

.posts .posts-post-media {
  line-height: 0;
}

.posts .posts-post-body > *:first-child {
  margin-top: 0;
}

.posts .posts-post-body h3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.posts .posts-post-body p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.posts > ul > li img, .posts > ul > li video {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}
